<!DOCTYPE html>
<html lang="en">

   <head>
      <title>Session Exercise</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   </head>

   <body>
      <div>
          <h1> Login </h1>
          <h4 class="warning">{{message}}</h4>
          <form action="/login" method="POST">
             <input placeholder="Email" autocomplete="off" type="email" name="email" required>
             <br/><br/>
             <input placeholder="Password" type="password" name="password" required>
             <br/><br/>
              <input type="submit" value="Login">
          </form>
          <p>
            <a href="{{ url_for('signup') }}">New customer? Sign up now!</a>
          </p>
      </div>
   </body>

</html>
